[Desktop Entry]
Name=Suckless Terminal
Comment=Terminal emulator that doesn't suck
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color_48x48
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
